img {
    width: 160px;
    height: 50px;
}

.tolbar {
    background-color: white;
}

.container {
    background-color: #fdfdfd;
    width: 100% !important;
}

.container,
.container-lg,
.container-md,
.container-sm {
    max-width: 100%;
}